{% extends 'base.html' %}
{% load static %}

{% block title %}Восстановление пароля{% endblock title %}

{% block content %}
    <div class="column left-column"></div>
    <div class="column middle-column d-flex justify-content-center align-items-start" style="height: 94vh;">
        <div class="text-container w-75 mt-5">
            <p class="custom-font1 gradient-text">Восстановление пароля</p>
        {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <p style="font-size: 20px; color: dimgray;font-family: Arsenal, sans-serif">
                        Введите ваш адрес эл. почты, и мы отправим вам ссылку для сброса пароля.
                    </p>
                    
                    <div class="mb-3">
                        <label for="id_email" class="form-label"
                               style="font-size: 20px;font-family: Arsenal, sans-serif; color: dimgray">
                            Эл. почта
                        </label>
                        <input type="email" name="email" id="id_email" class="form-control" required>
                    </div>

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="custom-button-sm">
                        Отправить ссылку для сброса пароля
                    </button>
                    <div class="custom-font2" style="margin-top: 10px;">
                        <a href="{% url 'main:index' %}" class="forgot-password-link">Назад на главную</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="column right-column"></div>
{% endblock content %}