{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль изменён{% endblock title %}

{% block content %}
    <div class="column left-column"></div>
    <div class="column middle-column d-flex justify-content-center align-items-start" style="height: 94vh;">
        <div class="text-container w-50 mt-5">
            <p class="custom-font1 gradient-text">Пароль изменён</p>
            <div class="card-body text-center">
                <p style="font-family: Arsenal, sans-serif; font-size: 18px; color: dimgray;">Ваш пароль был успешно
                    сброшен. Теперь вы можете войти в систему с новым паролем.</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'users:login' %}" class="custom-button custom-font2">Войти</a>
            </div>
        </div>
    </div>
    <div class="column right-column"></div>
{% endblock content %}